.benefits__title {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 875px;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 46px 20px;
}

.benefits__item {
  position: relative;
  flex-basis: 380px;
  transition: .5s ease-in-out;
}

.benefits__item:hover {
  transform: scale(1.1);
}

.benefits__text {
  position: absolute;
  left: 40px;
  top: 172px;
  width: 280px;
  font-weight: 700;
}
