.benefits__title {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 875px;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.item-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 0;
}

.item-box:nth-child(2) {
  padding-top: 70px;
}

.benefits__item {
  position: relative;
  flex-basis: 380px;
  max-height: 228px;
  transition: transform .3s ease-in-out;
  
}



.benefits__item:hover {
  transform: scale(1.1);
}

.benefits__text {
  position: absolute;
  left: 40px;
  top: 172px;
  width: 280px;
  font-weight: 700;
}
