.contacts {
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__descr {
  padding-top: 5px;
}

.contacts__list {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
}

.contacts__item {
  display: flex;
  align-items: center;
  max-width: 268px;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.contacts__link {
  transition: color .3s ease-in-out;
}

.contacts__item:hover .contacts__link {
  color: #eadeed;
}
.contacts__item:hover {
  color: #eadeed;
}

.contacts__item:first-child {
  margin-bottom: 24px;
}

.contacts__link {
  padding-right: 26px;
  color: #cd06ff;
}

.social {
  display: flex;
  gap: 27px;
}

.social__link {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.social__link:hover {
  color: #eadeed;
}
.social__link:focus {
  color: #eadeed;
  border: 1px solid #cd06ff;
}
.social__link:active {
  color: #cd06ff;
}
