.faq__title {
  margin-bottom: 44px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.faq__item {
  padding: 30px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  background-color: #fff;
}
/* ==================================Общие для всех типом линий==================================*/
.faq__item::after, .faq__item:nth-child(even)::after {
  content: "";
  background-repeat: no-repeat;
  background-position: right center;
  display: block;
  width: 46px;
  height: 46px;
  transition: 0.3s;
}

/*========================================= Для цветных=========================================*/
.faq__item:nth-child(even) {
  background-color: #440f51;
  color: #fff;
}

.faq__item:nth-child(even)::after {
  background-image: url(../img/icons/plus-white.svg);
}
.faq__item:nth-child(even):hover::after {
  background-image: url(../img/icons/plus-white--hover.svg);
}
.faq__item:nth-child(even):active::after {
  background-image: url(../img/icons/minus-white.svg);
}

/* ======================================Для белых============================================ */
.faq__item::after {
  background-image: url(../img/icons/plus-colored.svg);
}
.faq__item:hover::after {
  background-image: url(../img/icons/plus-colored--hover.svg);
}
.faq__item:active::after {
  background-image: url(../img/icons/minus-colored.svg);
}