.faq__title {
  margin-bottom: 44px;
}

.faq__item {
  padding: 21px 70px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  color: #1c1a1a;
  background-color: #fff;
  list-style: none;
}

.faq__item-btn {
  display: inline-block;
  color: #6c0287;
  transition: all 0.3s ease-in-out;
}

.faq__item-btn:hover {
  color: #fff;
}

.faq__item-btn:hover svg {
  fill: #6c0287;
}

.faq__item-btn svg path {
  transition: d 0.7s ease-in-out;
}

.faq__item-btn:active svg path {
  d: path('M13.0001 24.1695V23.4915H33.0001V24.1695H13.0001Z');
}

.faq__item-btn-purple {
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.faq__item-btn-purple:hover {
  color: #6c0287;
}
.faq__item-btn-purple:hover svg {
  fill: #fff;
}

.faq__item-btn-purple:active svg path {
  d: path('M13.0001 24.1695V23.4915H33.0001V24.1695H13.0001Z');
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__item:nth-child(2n) {
  background-color: #440f51;
  color: #fff;
}
